
.white {
    background: rgb(255, 255, 255);
    text-align: center;
  }

.col-md-3{
    background: rgb(255, 255, 255);
    bottom: -10px;
    border-radius: 30px;
    padding:20px;

}
.col-md-8{
    bottom: -10px;
    padding: 5px;
    margin: 5px;
    right:30px
}

.vis-title {
    font-size: large;
    text-align: center;
    
}

.paragraph{
    background: rgb(255, 253, 253);
    border-radius: 30px;
    padding:10px;
}

p.summary{
    margin:40px;
    font-size: x-large;
}

.picAndpar{
    background: rgb(255, 253, 253);
    border-radius: 30px;
    padding:10px;
    text-align: center;
}

SummaryWpic{
    margin:40px;
    font-size: xx-large;
    
}

body{
    background-color:rgb(233, 233, 233);
}

@media screen and (max-width: 765px) {
    body {background-color: rgb(255, 255, 255); 
    }
}





